body {
    background-color: Lavender;
    color: black;
    font-family: Helvetica;
    margin: 50px;
    padding: 0px

}

a {
    text-decoration: none; color: MediumSlateBlue;
    font-size: 20px; font-weight: bold
}

a:hover {
    text-decoration: underline;
}

li {
    color: black;
    font-size: 20px; font-weight: bold
}

header {
    background-color: Lavender;
    color: DimGrey;
    font-family: Helvetica;
    font-size: 15px
    margin: 0px;
    padding: 0px;
}

footer {
    background-color: Lavender;
    color: DimGrey;
    font-family: Helvetica;
    font-style: italic;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-size: 20px;
    text-indent: 2cm;
}

h1 {
    text-align: center;
    line-height: 1.5;
    margin: 20px 30px 10px 30px
    font-size: 40px;
}

h2 {
    text-align: center;
    line-height: 1.5;
    margin: 10px 20px 5px 20px;
    font-size: 25px;
}
